{% extends 'tower_app/base.html'%}

{% block content %}
<h1> Welcome! </h1>
<p>To start playing, enter a character name below and submit</p>
<p>Get familiar with the player actions on the right</p>
<p>You are outside the PyTower. It is a 10 story tower. There is a treasure chest on the top floor. Do you have what it takes to reach the top???</p>
<form method="post" action="">
    {% csrf_token %}
    {{form}}
    <button type="submit", name="Create Character">Create Character</button>
</form>
{% endblock %}