{% extends 'tower_app/base.html'%} {% block content %}
<div class="wrapper">
  <section class="map-wrapper" style="display: grid; grid-template-columns: repeat(5, 1fr);grid-template-rows: repeat(5, 1fr);grid-column-gap: 0px;grid-row-gap: 0px; width:65vw; max-width:910px; height:50vw; max-height:700px; background-color: rgb(50, 50, 50); padding:2vw"
  >
    <div class="1 room" style="grid-area: 1 / 2 / 2 / 3;">
      {% if player.room.id in rm10ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="2 room" style="grid-area: 2 / 1 / 3 / 2; ">
      {% if player.room.id in rm5ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="3 room" style="grid-area: 2 / 2 / 3 / 3; ">
      {% if player.room.id in rm9ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="4 room" style="grid-area: 3 / 2 / 4 / 3; ">
      {% if player.room.id in rm8ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="5 room" style="grid-area: 3 / 3 / 4 / 4; ">
      {% if player.room.id in rm7ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="6 room" style="grid-area: 4 / 2 / 5 / 3;">
      {% if player.room.id in rm1ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="7 room" style="grid-area: 4 / 3 / 5 / 4; ">
      {% if player.room.id in rm2ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="8 room" style="grid-area: 4 / 4 / 5 / 5; ">
      {% if player.room.id in rm3ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="9 room" style="grid-area: 4 / 5 / 5 / 6; ">
      {% if player.room.id in rm4ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="10 room" style="grid-area: 5 / 4 / 6 / 5; ">
      {% if player.room.id in rm6ids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    <div class="stair room" style="grid-area: 5 / 5 / 6 / 6; ">
      {% if player.room.id in stairids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i>{% endif %}
    </div>
    
    <div class="outside room" style="grid-area: 4 / 1 / 5 / 2;">
      {% if player.room.id in outsideids %}
      <p>{{player.room.room_name}}</p>
      <i class="material-icons">directions_walk</i> {%endif%}
    </div>
  </section>

  <section class="right-content">
    <div class="player-info">
      <p>Name: {{player.name}}</p>
      <p>HP: {{player.hp}}    Strength: {{player.strength}}</p>
      {% if player.inventory %}
      <span>Inventory:</span>
      {% for item in inventory%}
      <span>{{item.item_name}}</span>
      {% endfor %} {% endif%}
      <p>Room: {{player.room.room_name}}--{{player.room.description}}</p>
      {% if message %}
      <p>Message: {{message}}</p>
      {% endif%}
    </div>
    <div class="actions-wrapper">
      <form method="POST" class="actions-form">
        {% csrf_token %}
        <div class="movement-wrapper">
          <input
            type="submit"
            value="up"
            id="up"
            name="btn"
            class="action move vertical"
          />
          <div class="row">
            <input
              type="submit"
              value="left"
              id="left"
              name="btn"
              class="action move left"
            />
            <input
              type="submit"
              value="right"
              id="right"
              name="btn"
              class="action move right"
            />
          </div>
          <input
            type="submit"
            value="down"
            id="down"
            name="btn"
            class="action move vertical"
          />
        </div>

        {% for item in items%}
        <input
          type="submit"
          value="take {{ item.item_name }}"
          id="{{item.id}}"
          name="btn"
          class="action"
        />
        {% endfor %}
        {% for item in inventory %}
        <input type="submit" value="drop {{ item.item_name }}" id="{{ item.id }}" name="btn" class="action" />
        {% endfor %}
        {% for enemy in enemies%}
        <input
          type="submit"
          value="attack {{enemy.enemy_name}}"
          id="attack"
          name="btn"
          class="action"
        />
        {% endfor %}
        {% if player.room.id in stairids %}
        <input type="submit" value ="stair" name="btn" class="action">
        {% endif %}

      </form>
      <p>{{ form.errors.as_text }}</p>
    </div>
  </section>
  {% endblock %}
</div>
