@charset "utf-8";
@import "./variables";
@import '../bootstrap/bootstrap';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: tower-color("blue-charcoal");
  color: tower-color("orange-peel");
  font-family: $tower-font-family;
  margin: 3vw;
  font-size: 2.5vw;
}

a,
a:visited {
  color: tower-color("bright-turquoise");
}

.no-break {
  white-space: nowrap;
}

@import "./board";
@import "./tower-button";
@import "./tower-filler";
@import "./tower-group";
@import "./tower-input";
@import "./legend";
@import "./login";
@import "./play";
@import "./site";
